<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About page</h2>
      <p>1</p>
      <p>2</p>
      <p>3</p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
